@import 'table';
@import 'var';

:host {
  display: flex;
  justify-content: space-between;

  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      background-color: rgba($cor-primaria, .2);
      border-radius: 10px;
    }

    &-track {
      background: transparent;
    }
  }

  .minhas-musicas {
    padding: 0px 50px;
    padding-bottom: 20px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .d-block {
    display: block;
  }

  .painel-direito {
    height: 100vh;
  }
}

.executando {
  background-color: $branco;
  padding: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.048);
}
